<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>


<h1>Login</h1>
<form action="/login" method="post">
    <label>
        <input type="text" name="email" placeholder="Email"/>
    </label>
    <label>
        <input type="password" name="password" placeholder="Password">
    </label>
    <button type="submit">Login</button>
</form>
<br>
<div >
    <a href="/oauth2/authorization/github">Login with GitHub</a><br>
    <a href="/oauth2/authorization/google">Login with Google</a>
</div>
</body>
</html>
